

<container style="display: flex;">
    <form style="flex: 1; margin-right: 20px;">
        <div class="mb-3">
            <h2>Proceso de Venta</h2>
            <h4>Datos del Cliente</h4>
            <div class="row">
                <div class="col">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="col">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion">
        </div>
    </form>
    
    <div style="flex: 1; font-size: 20px;">

         <div style="flex: 1; margin-right: 20px;">
             <h3 style="color:blue">Libros</h3>
                <ul class="list-group">
                   <li class="list-group-item">
                            <span class="item-name"><div><p>Libro</p><p style="font-size:15px">Autor</p></div></span>
                             <span class="price float-right">$20</span>
                       
                   </li>
                <li class="list-group-item">
                    <span class="item-name"><div><p>Libro</p><p style="font-size:15px">Autor</p></div></span>
                    <span class="price float-right">$20</span>

                </li>
                <li class="list-group-item">
                    <span class="item-name"><div><p>Libro</p><p style="font-size:15px">Autor</p></div></span>
                    <span class="price float-right">$20</span>

                </li>

                    <button class="btn btn-primary float-right" style="background-color:green; border: 1px solid white;">Cerrar Ventana</button>
                       
                </ul>   
          </div>

    </div>


