@model IEnumerable<Libro>;

<container>
    <div style="display: flex;">
        <div style="flex: 1; margin-right: 20px; font-size: 20px;">
            <h3 style="color: blue;">Libros</h3>
            <hr style="border-top: 2px solid lightgray;">
            @foreach( var libro in Model)
            {
                <div class="book-item">
                    <div class="item-info" style="display: flex; align-items: center;">
                        <div style="flex: 1;">
                            <p>@libro.Nombre </p>
                            <p style="font-size:15px;">@libro.IdAutorNavigation.Autor</p>
                        </div>
                        <span class="price" style="margin: 0 15px;">@libro.Precio</span>
                        <button asp-route-id="@libro.Id" asp-action="AgregarACarrito" class="btn btn-primary float-right" style="background-color: green; border: 1px solid white;">+Agregar</button>
                    </div>
                </div>
            }

        <div style="flex: 1;">
            <h3 style="color: blue;">Total Libros</h3>
            <h5 style="color: dimgray;">Total (USD)</h5>
            <button class="btn btn-primary float-right" style="background-color:skyblue; color: black; border: 5px solid white; width: 500px;">Completar</button>
        </div>
    </div>

</container>

